@model WMS.Models.PageModels.SettingsVM.EditUserRoleVM


@{
    string msg = (string)ViewBag.msg;
    var authorizationTypes = (SelectList)ViewBag.AuthorizationType;
}

@if (!string.IsNullOrEmpty(msg))
{
    <h5 class="text-danger">@msg</h5>
}
else
{
    <div class="col-md-12">
        <form enctype="multipart/form-data" id="frmUpdate">
            <div class="row">
                <input type="hidden" name="Users.Id" value="@Model.Users.Id" class="form-control" />
                <div class="col-md-12">
                    <div class="form-group pt-4">
                        <label class="control-label">Previous assigned roles: </label>
                        <br />
                        @if (Model.ListAuthorization.Count() > 0)
                        {
                            @foreach (var insideAuthorization in Model.ListAuthorization)
                            {
                                <span class="badge font-11 badge-soft-primary justify-content-center">
                                    @insideAuthorization.AuthorizeType.TypeName
                                </span>
                            }
                        }
                        else
                        {
                            <span class="badge font-11 badge-soft-danger">
                                No Role Assigned
                            </span>
                        }
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="control-label">Choose roles</label>
                        <select name="AuthorizationTypeId[]" class="selectpicker show-menu-arrow form-control" required multiple data-live-search="true">
                            @foreach (var item in authorizationTypes)
                            {
                                if (Model.ListAuthorization.Where(f => f.AuthorizeType.Id.ToString() == item.Value).Count() > 0)
                                {
                                    <option value="@item.Value" disabled>@item.Text</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }

                            }
                        </select>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group right-align">
                        <br />
                        <br />
                        <hr />
                        <button type="button" class="btn btn-sm btn-outline-success" style="width:150px" onclick='insertRecord("Settings", "EditUserRole", "frmUpdate")'> <i class="zmdi zmdi-save"></i> Save</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" style="width:150px" onclick='closeModalCreateForm("mdlUpdateForm","UpdateForm")'><i class="zmdi zmdi-close"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

}

<script type="text/javascript">
    //Use For Dropdown Search
    $('.selectpicker').selectpicker({
        liveSearch: true
    });
</script>


