@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model WMS.Models.PageModels.ReportsVM.GetOrderReturnByDateRange.GetOrderReturnByDateRange


@{
    ViewData["Title"] = "Order Return Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ddlStatus = (SelectList)ViewBag.ddlOrderReturnStatus == null ? null : (SelectList)ViewBag.ddlOrderReturnStatus;

}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 box-margin">
            <div class="card">
                <div class="card-body">
                    <div class="justify-content-between align-items-center mb-20">

                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="card-title mb-0">Order Return Report</h6>
                            </div>
                            <div class="col-md-6 float-right">
                                <form id="GetOrderByDateRange" asp-controller="Reports" asp-action="GetOrderReturnByDateRange" method="get">
                                    <label class="text-info mt-1">Please choose your desire criteria to get data.</label>
                                    <div class="input-group">
                                        <input name="FromDate" id="fromDate" class="form-control" value='@(Model == null ? "" : Model.FromDate.Value.ToShortDateString())' placeholder="From Date" type="text" data-provide="datepicker" data-date-autoclose="true" />
                                        <input name="ToDate" id="toDate" class="form-control" value='@(Model == null ? "" : Model.ToDate.Value.ToShortDateString())' placeholder="To Date" type="text" data-provide="datepicker" data-date-autoclose="true" />
                                        <select name="Status" id="status" class="form-control">
                                            <option value="All">All</option>
                                            @foreach (var item in ddlStatus)
                                            {
                                                if (item.Value == Model?.Status)
                                                {
                                                    <option value="@item.Value" selected disabled>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>

                                                }
                                            }
                                        </select>
                                        <button type="submit" class="btn btn-fill-default" style="height:40px;">Get Data</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Table -->
                    <div class="table-responsive">

                        @if (Model != null)
                        {
                            @if (Model.OrderReturnVM.Count() <= 0)
                            {
                                <div class="text-center">
                                    <span class="badge font-11 badge-soft-purple"> There is no record found</span>

                                </div>
                            }
                            else
                            {
                                <label class="label-info">Record Found : @Model.OrderReturnVM.Count()</label>
                                <label class="label-info">Chosen Date Range: @Model.FromDate.Value.ToShortDateString() To @Model.ToDate.Value.ToShortDateString(), With Status: @Model.Status</label>
                                <a href="#" id="lnkExport" class="badge badge-primary pull-right mx-1 px-3">Export</a>
                                <a id="lnkPrint" target="_blank" asp-action="PrintOrderReturnByDateRange" asp-controller="Reports" asp-route-fromDate='@(Model.FromDate == null ? "" : Model.FromDate.Value.ToShortDateString())' asp-route-toDate='@(Model.ToDate == null ? "" : Model.ToDate.Value.ToShortDateString())' asp-route-status='@Model.Status' class="badge badge-primary pull-right mx-1 px-3">Print</a>
                                <table class="table table-borderless" id="tblOrderReturnReport">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Return & Order No</th>
                                            <th>Return Items</th>
                                            <th>Date of Return</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderReturnVM)
                                        {
                                            <tr>
                                                <td width="5%">
                                                    <span class="font-13">@(Model.OrderReturnVM.IndexOf(item) + 1)</span>
                                                </td>
                                                <td width="20%">
                                                    <div class="font-13">@item.OrderReturn.ReturnNo</div>
                                                    <div class="font-13">@item.Orders.OrderNo</div>
                                                </td>
                                                <td width="40%">
                                                    @{int innerNo = 0;}
                                                    @foreach (var insideItem in item.OrderReturnDetails)
                                                    {

                                                        <span class="text-justify">
                                                            @((innerNo+1) + ". " + insideItem.Products.Name + " (" + insideItem.ProductItems.ItemSerial + ")")
                                                            <br />
                                                        </span>
                                                        innerNo++;
                                                    }

                                                </td>
                                                <td width="25%">
                                                    <div>@item.OrderReturn.ReturnDate.Value.ToString("dddd, MMM dd yyyy") at @item.OrderReturn.ReturnDate.Value.ToString("h:mm:ss tt")</div>
                                                </td>
                                                <td width="10%">
                                                    <span class="font-13">@item.OrderReturn.Status</span>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            }
                        }
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>


@section Scripts{

    <script src="~/js/table-to-excel.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">

        var currentDateTime = new Date();
        var getPreciseDateTime = currentDateTime.getDate() + "-"
            + (currentDateTime.getMonth() + 1) + "-"
            + currentDateTime.getFullYear() + "-"
            + currentDateTime.getHours() + ":"
            + currentDateTime.getMinutes() + ":"
            + currentDateTime.getSeconds();

        $('#lnkExport').on('click', () => {

            $("#tblOrderReturnReport").table2excel({
                exclude: ".out",
                name: "OrderReturnReport",
                filename: "OrderReturnReport(" + getPreciseDateTime + ").xls",
                //  fileext: ".xls",
                preserveColors: true
            });
        });

    </script>

}

