@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model WMS.Models.PageModels.ReportsVM.GetOrderByDateRange.GetOrderByDateRange


@{
    ViewData["Title"] = "Order Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ddlOrderStatus = (SelectList)ViewBag.ddlOrderStatus == null ? null : (SelectList)ViewBag.ddlOrderStatus;

}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card mb-30">
                <div class="card-body pb-0">
                    <div class="justify-content-between align-items-center mb-20">

                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="card-title mb-0">Order Report</h6>
                            </div>
                            <div class="col-md-6 float-right">
                                <form id="GetOrderByDateRange" asp-controller="Reports" asp-action="GetOrderByDateRange" method="get">
                                        <label class="text-info mt-1">Please choose your desire criteria to get data.</label>
                                    <div class="input-group">
                                        <input name="FromDate" id="fromDate" class="form-control" value='@(Model == null ? "" : Model.FromDate.Value.ToShortDateString())' placeholder="From Date" type="text" data-provide="datepicker" data-date-autoclose="true" />
                                        <input name="ToDate" id="toDate" class="form-control" value='@(Model == null ? "" : Model.ToDate.Value.ToShortDateString())' placeholder="To Date" type="text" data-provide="datepicker" data-date-autoclose="true" />
                                        <select name="Status" id="status" class="form-control">
                                            <option value="All">All</option>
                                            @foreach (var item in ddlOrderStatus)
                                            {
                                                if (item.Value == Model?.Status)
                                                {
                                                    <option value="@item.Value" selected disabled>@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>

                                                }
                                            }
                                        </select>
                                        <button type="submit" class="btn btn-fill-default" style="height:40px;">Get Data</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    @if (Model != null)
                    {
                        @if (Model.OrdersVM.Count() <= 0)
                        {
                            <div class="text-center">
                                <span class="badge font-11 badge-soft-purple"> There is no record found</span>

                            </div>
                        }
                        else
                        {
                            <label class="label-info">Record Found : @Model.OrdersVM.Count()</label>
                            <label class="label-info">Chosen Date Range: @Model.FromDate.Value.ToShortDateString() To @Model.ToDate.Value.ToShortDateString(), With Status: @Model.Status</label>
                            <a href="#" id="lnkExport" class="badge badge-primary pull-right mx-1 px-3">Export</a>
                            <a id="lnkPrint" target="_blank" asp-action="PrintOrderByDateRange" asp-controller="Reports" asp-route-fromDate='@(Model.FromDate == null ? "" : Model.FromDate.Value.ToShortDateString())' asp-route-toDate='@(Model.ToDate == null ? "" : Model.ToDate.Value.ToShortDateString())' asp-route-status='@Model.Status' class="badge badge-primary pull-right mx-1 px-3">Print</a>
                            <table class="table table-condensed" id="tblOrderReport">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Order No</th>
                                        <th>Order Details</th>
                                        <th>Date of Order</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrdersVM)
                                    {
                                        <tr>
                                            <td width="5%">
                                                <span class="font-13">@(Model.OrdersVM.IndexOf(item)+1)</span>
                                            </td>
                                            <td width="20%">
                                                <span class="font-13">@item.Orders.OrderNo</span>
                                            </td>
                                            <td width="40%">

                                                @foreach (var insideItem in item.OrderDetails)
                                                {
                                                    <span class="text-justify">
                                                        @((item.OrderDetails.IndexOf(insideItem)+1) + ". " + insideItem.Products.Name + " QTY: " + insideItem.OrderDetails.Quantity + " from Warehouse-> " + insideItem.Warehouse.Title)
                                                        <br />
                                                    </span>
                                                }

                                            </td>
                                            <td width="25%">
                                                <div>@item.Orders.OrderPlaceDate.Value.ToString("dddd, MMM dd yyyy") at @item.Orders.OrderPlaceDate.Value.ToString("h:mm:ss tt")</div>

                                            </td>
                                            <td width="10%">
                                                <span class="font-13">@item.Orders.OrderStatus</span>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/table-to-excel.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">

        var currentDateTime = new Date();
        var getPreciseDateTime = currentDateTime.getDate() + "-"
            + (currentDateTime.getMonth() + 1) + "-"
            + currentDateTime.getFullYear() + "-"
            + currentDateTime.getHours() + ":"
            + currentDateTime.getMinutes() + ":"
            + currentDateTime.getSeconds();

        $('#lnkExport').on('click', () => {

            $("#tblOrderReport").table2excel({
                exclude: ".out",
                name: "OrderReport",
              //  filename: "OrderReport-" + new Date().today() + "-" + new Date().timeNow() +".xls",
                filename: "OrderReport(" + getPreciseDateTime +").xls",
                //  fileext: ".xls",
                preserveColors: true
            });
        });

    </script>

}

