@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model WMS.Models.PageModels.ReportsVM.GetOrderReturnByDateRange.GetOrderReturnByDateRange


@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="container-fluid document-print" id="printView">

    <div class="row">
        <div class="col-12">
            <div class="card mb-30">
                <div class="card-body pb-0">

                    <div class="row p-1" style="border-bottom:solid 2px;">
                        <img class="pl-3" src="~/@Model.Company.SmallLogo" alt="Logo" height="100px" width="100px" />
                        <h3 class="mt-3 pl-2">
                            @Model.Company.Name <br />
                        <small>@Model.Company.Address</small>
                    </h3>
                </div>
                <br />

                <div class="row">
                    <div class="col-6">
                        <h4><u>ORDER RETURN REPORT </u> </h4>
                    </div>
                    <div class="col-6">
                        <div class="pull-right">Record Found : @Model.OrderReturnVM.Count()</div><br />
                        <div class="pull-right">Chosen Date Range: @Model.FromDate.Value.ToString("MMM dd yyyy") To @Model.ToDate.Value.ToString("MMM dd yyyy"), With Status: @Model.Status</div>
                        <div class="pull-right">
                            Printed Date&Time : @DateTime.Now.ToString("dddd, MMM dd yyyy"), @DateTime.Now.ToString("h:mm:ss tt")
                        </div>
                    </div>
                </div>    

              

                <div class="table-responsive">
                    <table class="table table-borderless" id="tblOrderReturnReport">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Return & Order No</th>
                                <th>Return Items</th>
                                <th>Date of Return</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderReturnVM)
                            {
                                <tr>
                                    <td width="5%">
                                        <span class="font-13">@(Model.OrderReturnVM.IndexOf(item) + 1)</span>
                                    </td>
                                    <td width="20%">
                                        <div class="font-13">@item.OrderReturn.ReturnNo</div>
                                        <div class="font-13">@item.Orders.OrderNo</div>
                                    </td>
                                    <td width="40%">
                                        @{int innerNo = 0;}
                                        @foreach (var insideItem in item.OrderReturnDetails)
                                        {

                                            <span class="text-justify">
                                                @((innerNo+1) + ". " + insideItem.Products.Name + " (" + insideItem.ProductItems.ItemSerial + ")")
                                                <br />
                                            </span>
                                            innerNo++;
                                        }

                                    </td>
                                    <td width="25%">
                                        <div>@item.OrderReturn.ReturnDate.Value.ToString("dddd, MMM dd yyyy") at @item.OrderReturn.ReturnDate.Value.ToString("h:mm:ss tt")</div>
                                    </td>
                                    <td width="10%">
                                        <span class="font-13">@item.OrderReturn.Status</span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        //This arrow function will call after page loaded.
        $(() => {
            print();
        });

        window.onafterprint = function () {
            window.top.close();
        }
    </script>

}

